<div class="navigation-footer">
  <div class="navigation-footer-container">
    <div nz-row>
      <div nz-col nzSpan="6">
        <h3 style="color: white;">Shop</h3>
        <ul>
          <li>New</li>
          <li>Packs & Bags</li>
          <li>Men's Apparel</li>
          <li>Women's Apparal</li>
          <li>Accessories</li>
          <li>Gift Cards</li>
          <li>After Pay</li>
        </ul>
      </div>
      <div nz-col nzSpan="6">
        <h3 style="color: white;">About</h3>
        <ul>
          <li>About The New Outdoor <sup>TM</sup> </li>
          <li>Our Roots</li>
          <li>In The Wild Blog</li>
          <li>Special Releases</li>
          <li>Sustainability</li>
          <li>M.A.P. Pact</li>
          <li>Warranty & Repairs</li>
          <li>Rewards</li>
        </ul>
      </div>
      <div nz-col nzSpan="6">
        <h3 style="color: white;">Company</h3>
        <ul>
          <li>Our Stories</li>
          <li>Careers</li>
          <li>Inclusion & Diversity</li>
          <li>Covid-19</li>
          <li>Corporate Sales</li>
          <li>Affiliates</li>
          <li>Students</li>
          <li>Military & First Responders</li>
        </ul>
      </div>
      <div nz-col nzSpan="6">
        <h3 style="color: white;">Help</h3>
        <ul>
          <li>Return & Shipping</li>
          <li>FAQ</li>
          <li>Refer a Friend</li>
          <li>Find a Retailer</li>
          <li>Privary Policy</li>
          <li>Accessibility</li>
          <li>Contact Us</li>
        </ul>
      </div>
    </div>

  </div>
  <hr style="border-color: rgba(0,0,0,0.4);">
</div>