<div class="signup-footer">
  <div nz-row>
    <div nz-col nzSpan="24">
      <div class="section-signup-card-wrapper">
        <div class="section-signup-card-container">
          <div class="section-signup-card-content">
            <div nz-row>
              <div nz-col nzSpan="12">
                <div class="footer-subscriber-leftcontent">
                  <h1 style="color: white">SIGN UP & SAVE</h1>
                  <p style="
                          line-height: 1.5rem;
                          font-weight: 200;
                          font-size: 1rem;
                        ">
                    Sign up and stay up to date on all the latest news from
                    Sana Designs and best of all, you'll get 15% off!
                  </p>
                </div>
              </div>
              <div nz-col nzSpan="12">
                <div class="footer-subscriber-rightcontent">
                  <input nz-input placeholder="Your Email" nzSize="large" />
                  <input style="margin-top: 15px" nz-input placeholder="Your Phone" nzSize="large" />
                  <button style="
                          width: 100%;
                          background-color: black;
                          color: white;
                          border: none;
                          margin-top: 15px;
                        " nz-button nzSize="large">
                    Sign Up
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>