<div nz-row>
  <div class="header-banner" nz-col nzSpan="24">Shop for school</div>
</div>
<nz-layout>
  <nz-header>
    <div class="logo">Sana Design</div>
    <div class="search">
      <div style="display: inline-flex; grid-gap: 20px">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input nz-input placeholder="Search" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
        <span style="padding: 8px" nz-icon nzType="shopping-cart" nzTheme="outline"></span>
      </div>
    </div>
    <!-- <ul nz-menu nzMode="horizontal" class="header-menu">
      <li nz-submenu nz-menu-item nzTitle="Sale" nzSelected>
        <ul>
          <li>
            <ul>
              <li nz-menu-item>Bags</li>
              <li nz-menu-item>Kits</li>
              <li nz-menu-item>Men's</li>
              <li nz-menu-item>Women's</li>
              <li nz-menu-item>Accessories</li>
              <li nz-menu-item>All</li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Packs & Bags" nz-menu-item>

      </li>
      <li nz-menu-item>Men's</li>
      <li nz-menu-item>Women's</li>
      <li nz-menu-item>Accessories</li>
      <li nz-menu-item>The New Outdoor<sup>TM</sup></li>
    </ul> -->
    <div class="navbar">
      <a href="#home">Sale</a>
      <div class="subnav">
        <button class="subnavbtn">Packs & Bags </button>
        <div class="subnav-content">
          <div nz-row>
            <div nz-col nzSpan="4">
              <h3 style="color: #000;">Shop by style</h3>
              <ul class="subnav-content-submenu">
                <li>New</li>
                <li>Packs & Bags</li>
                <li>Men's Apparel</li>
                <li>Women's Apparal</li>
                <li>Accessories</li>
                <li>Gift Cards</li>
                <li>After Pay</li>
              </ul>
              <h3 style="color: #000;">Shop all</h3>
            </div>
            <div nz-col nzSpan="4">
              <h3 style="color: #000;">Shop by activity</h3>
              <ul class="subnav-content-submenu">
                <li>New</li>
                <li>Packs & Bags</li>
                <li>Men's Apparel</li>
                <li>Women's Apparal</li>
                <li>Accessories</li>
                <li>Gift Cards</li>
                <li>After Pay</li>
              </ul>
              <h3 style="color: #000;">Shop new</h3>
            </div>
            <div nz-col nzSpan="4">
              <h3 style="color: #000;">bag accessories</h3>
              <ul class="subnav-content-submenu">
                <li>New</li>
                <li>Packs & Bags</li>
                <li>Men's Apparel</li>
                <li>Women's Apparal</li>
                <li>Accessories</li>
                <li>Gift Cards</li>
                <li>After Pay</li>
              </ul>
              <h3 style="color: #000;">Shop sale</h3>
            </div>
            <div nz-col nzSpan="4">
              <h3 style="color: #000;">Collections</h3>
              <ul class="subnav-content-submenu">
                <li>New</li>
                <li>Packs & Bags</li>
                <li>Men's Apparel</li>
                <li>Women's Apparal</li>
                <li>Accessories</li>
                <li>Gift Cards</li>
                <li>After Pay</li>
              </ul>
              <h3 style="color: #000;">Shop gift cards</h3>
            </div>
            <div nz-col nzSpan="4"></div>
          </div>
        </div>
      </div>
      <div class="subnav">
        <button class="subnavbtn">Men's </button>
        <div class="subnav-content">
          <div nz-row>
            <div nz-col nzSpan="4">
              <h3 style="color: #000;">Shop by style</h3>
              <ul class="subnav-content-submenu">
                <li>New</li>
                <li>Packs & Bags</li>
                <li>Men's Apparel</li>
                <li>Women's Apparal</li>
                <li>Accessories</li>
                <li>Gift Cards</li>
                <li>After Pay</li>
              </ul>
              <h3 style="color: #000;">Shop all</h3>
            </div>
            <div nz-col nzSpan="4">
              <h3 style="color: #000;">Shop by activity</h3>
              <ul class="subnav-content-submenu">
                <li>New</li>
                <li>Packs & Bags</li>
                <li>Men's Apparel</li>
                <li>Women's Apparal</li>
                <li>Accessories</li>
                <li>Gift Cards</li>
                <li>After Pay</li>
              </ul>
              <h3 style="color: #000;">Shop new</h3>
            </div>
            <div nz-col nzSpan="4">
              <h3 style="color: #000;">bag accessories</h3>
              <ul class="subnav-content-submenu">
                <li>New</li>
                <li>Packs & Bags</li>
                <li>Men's Apparel</li>
                <li>Women's Apparal</li>
                <li>Accessories</li>
                <li>Gift Cards</li>
                <li>After Pay</li>
              </ul>
              <h3 style="color: #000;">Shop sale</h3>
            </div>
            <div nz-col nzSpan="4">
              <h3 style="color: #000;">Collections</h3>
              <ul class="subnav-content-submenu">
                <li>New</li>
                <li>Packs & Bags</li>
                <li>Men's Apparel</li>
                <li>Women's Apparal</li>
                <li>Accessories</li>
                <li>Gift Cards</li>
                <li>After Pay</li>
              </ul>
              <h3 style="color: #000;">Shop gift cards</h3>
            </div>
            <div nz-col nzSpan="4"></div>
          </div>
        </div>
      </div>
      <div class="subnav">
        <button class="subnavbtn">Women's </button>
        <div class="subnav-content">
          <div nz-row>
            <div nz-col nzSpan="4">
              <h3 style="color: #000;">Shop by style</h3>
              <ul class="subnav-content-submenu">
                <li>New</li>
                <li>Packs & Bags</li>
                <li>Men's Apparel</li>
                <li>Women's Apparal</li>
                <li>Accessories</li>
                <li>Gift Cards</li>
                <li>After Pay</li>
              </ul>
              <h3 style="color: #000;">Shop all</h3>
            </div>
            <div nz-col nzSpan="4">
              <h3 style="color: #000;">Shop by activity</h3>
              <ul class="subnav-content-submenu">
                <li>New</li>
                <li>Packs & Bags</li>
                <li>Men's Apparel</li>
                <li>Women's Apparal</li>
                <li>Accessories</li>
                <li>Gift Cards</li>
                <li>After Pay</li>
              </ul>
              <h3 style="color: #000;">Shop new</h3>
            </div>
            <div nz-col nzSpan="4">
              <h3 style="color: #000;">bag accessories</h3>
              <ul class="subnav-content-submenu">
                <li>New</li>
                <li>Packs & Bags</li>
                <li>Men's Apparel</li>
                <li>Women's Apparal</li>
                <li>Accessories</li>
                <li>Gift Cards</li>
                <li>After Pay</li>
              </ul>
              <h3 style="color: #000;">Shop sale</h3>
            </div>
            <div nz-col nzSpan="4">
              <h3 style="color: #000;">Collections</h3>
              <ul class="subnav-content-submenu">
                <li>New</li>
                <li>Packs & Bags</li>
                <li>Men's Apparel</li>
                <li>Women's Apparal</li>
                <li>Accessories</li>
                <li>Gift Cards</li>
                <li>After Pay</li>
              </ul>
              <h3 style="color: #000;">Shop gift cards</h3>
            </div>
            <div nz-col nzSpan="4"></div>
          </div>
        </div>
      </div>
      <div class="subnav">
        <button class="subnavbtn">Accessories </button>
        <div class="subnav-content">
          <div nz-row>
            <div nz-col nzSpan="4">
              <h3 style="color: #000;">Shop by style</h3>
              <ul class="subnav-content-submenu">
                <li>New</li>
                <li>Packs & Bags</li>
                <li>Men's Apparel</li>
                <li>Women's Apparal</li>
                <li>Accessories</li>
                <li>Gift Cards</li>
                <li>After Pay</li>
              </ul>
              <h3 style="color: #000;">Shop all</h3>
            </div>
            <div nz-col nzSpan="4">
              <h3 style="color: #000;">Shop by activity</h3>
              <ul class="subnav-content-submenu">
                <li>New</li>
                <li>Packs & Bags</li>
                <li>Men's Apparel</li>
                <li>Women's Apparal</li>
                <li>Accessories</li>
                <li>Gift Cards</li>
                <li>After Pay</li>
              </ul>
              <h3 style="color: #000;">Shop new</h3>
            </div>
            <div nz-col nzSpan="4">
              <h3 style="color: #000;">bag accessories</h3>
              <ul class="subnav-content-submenu">
                <li>New</li>
                <li>Packs & Bags</li>
                <li>Men's Apparel</li>
                <li>Women's Apparal</li>
                <li>Accessories</li>
                <li>Gift Cards</li>
                <li>After Pay</li>
              </ul>
              <h3 style="color: #000;">Shop sale</h3>
            </div>
            <div nz-col nzSpan="4">
              <h3 style="color: #000;">Collections</h3>
              <ul class="subnav-content-submenu">
                <li>New</li>
                <li>Packs & Bags</li>
                <li>Men's Apparel</li>
                <li>Women's Apparal</li>
                <li>Accessories</li>
                <li>Gift Cards</li>
                <li>After Pay</li>
              </ul>
              <h3 style="color: #000;">Shop gift cards</h3>
            </div>
            <div nz-col nzSpan="4"></div>
          </div>
        </div>
      </div>
      <a href="#contact">The New Outdoor <sup>TM</sup></a>
    </div>
  </nz-header>

  <nz-content>

    <!-- <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>List</nz-breadcrumb-item>
      <nz-breadcrumb-item>App</nz-breadcrumb-item>
    </nz-breadcrumb> -->
    <div class="inner-content">

      <div nz-row>
        <div nz-col nzSpan="24">
          <div class="shop-card-wrapper">
            <div class="shop-card-container">
              <h1>WANT A FREE ROVER PACK CLASSIC?</h1>
              <button nz-button nzType="primary" nzSize="large">
                Reedem Points
              </button>
            </div>
          </div>
        </div>
      </div>
      <div nz-row style="margin-top: 50px">
        <div nz-col nzSpan="12">
          <div class="section-two-card-wrapper">
            <div class="section-two-card-leftcontainer">
              <div class="section-two-card-leftcontent">
                <h1>STUDENTS GET 35% OFF</h1>
                <p style="line-height: 1.5rem; font-size: 1rem">
                  Learn more about out student discount program.
                </p>
                <button nz-button nzType="primary" nzSize="large">
                  Learn More
                </button>
              </div>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <div class="section-two-card-wrapper">
            <div class="section-two-card-rightcontainer">
              <div class="section-two-card-rightcontent">
                <h1>20% OFF BAG & APPAREL KITS</h1>
                <button nz-button nzType="primary" nzSize="large">
                  Shop Kits
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div nz-row style="margin-top: 50px">
        <div nz-col nzSpan="24">
          <h1 class="section-title">Back to School</h1>
          <div class="section-third-card-wrapper">
            <i (click)="arrowButton($event, 'left')" nz-icon nzType="left" nzTheme="outline"></i>
            <ul (mousemove)="onMouseMove($event)" (mousedown)="onMouseDown($event)" (scroll)="infiniteScroll($event)"
              (mouseup)="onMouseup($event)" class="carousel">
              <li class="card">
                <h2>Shadman Waris</h2>
                <span>Sales Manager</span>
              </li>
              <li class="card">
                <h2>Shadman Waris</h2>
                <span>Sales Manager</span>
              </li>
              <li class="card">
                <h2>Shadman Waris</h2>
                <span>Sales Manager</span>
              </li>
              <li class="card">
                <h2>Shadman Waris</h2>
                <span>Sales Manager</span>
              </li>
              <li class="card">
                <h2>Shadman Waris</h2>
                <span>Sales Manager</span>
              </li>
              <li class="card">
                <h2>Shadman Waris</h2>
                <span>Sales Manager</span>
              </li>
            </ul>
            <i (click)="arrowButton($event, 'right')" nz-icon nzType="right" nzTheme="outline"></i>
          </div>
          <div class="section-third-card-content">
            <button class="text-center" nz-button nzType="primary" nzSize="large">
              Shop Now
            </button>
          </div>
        </div>
      </div>
      <div nz-row style="margin-top: 50px">
        <div nz-col nzSpan="8">
          <div class="section-fourth-card-wrapper">
            <div class="section-fourth-card-container" style="margin-right: 50px">
              <div class="section-fourth-card-content">
                <h1>PACKS & BAGS</h1>
                <button nz-button nzType="primary" nzSize="large">
                  Shop Bags
                </button>
              </div>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="section-fourth-card-wrapper">
            <div class="section-fourth-card-container" style="margin-right: 50px">
              <div class="section-fourth-card-content">
                <h1>MEN'S APPAREL</h1>
                <button nz-button nzType="primary" nzSize="large">
                  Shop Men's
                </button>
              </div>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="section-fourth-card-wrapper">
            <div class="section-fourth-card-container">
              <div class="section-fourth-card-content">
                <h1>WOMEN'S APPAREL</h1>
                <button nz-button nzType="primary" nzSize="large">
                  Shop Women's
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div nz-row style="margin-top: 35px">
        <div nz-col nzSpan="12">
          <div class="section-fifth-card-wrapper">
            <div class="section-fifth-card-leftcontainer">
              <div class="section-fifth-card-leftcontent">
                <h1>THE MOUNTAIN COLLECTION</h1>
                <p style="line-height: 1.5rem; font-size: 1rem">
                  Off-grid style.<br />
                  Always in range.
                </p>
                <button nz-button nzType="primary" nzSize="large">
                  Shop Now
                </button>
              </div>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <div class="section-fifth-card-wrapper">
            <div class="section-fifth-card-rightcontainer">
              <div class="section-fifth-card-rightcontent">
                <h1>THE GLOBAL COLLECTION</h1>
                <p style="line-height: 1.5rem; font-size: 1rem">
                  Elevated outdoor.<br />
                  Designed to navigate.
                </p>
                <button nz-button nzType="primary" nzSize="large">
                  Shop Now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div nz-row style="margin-top: 35px">
        <div nz-col nzSpan="12">
          <div class="section-sixth-card-wrapper">
            <div class="section-sixth-card-leftcontainer">
              <div class="section-sixth-card-leftcontent">
                <h1>THE DIRT COLLECTION</h1>
                <p style="line-height: 1.5rem; font-size: 1rem">
                  Pure comfort,<br />Sustainably-built.
                </p>
                <button nz-button nzType="primary" nzSize="large">
                  Dig In
                </button>
              </div>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <div class="section-sixth-card-wrapper">
            <div class="section-sixth-card-rightcontainer">
              <div class="section-sixth-card-rightcontent">
                <h1>THE ROVER PACK COLLECTION</h1>
                <p style="line-height: 1.5rem; font-size: 1rem">
                  Timeless utility.<br />Original Style.
                </p>
                <button nz-button nzType="primary" nzSize="large">
                  Shop Now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div nz-row style="margin-top: 35px">
        <div nz-col nzSpan="12">
          <div class="section-seventh-card-wrapper">
            <div class="section-seventh-card-leftcontainer">
              <div class="section-seventh-card-leftcontent">
                <h1>REDEFINE YOUR TIME WITH B-SIDE TRAVEL</h1>
                <button nz-button nzType="primary" nzSize="large">
                  Shop Now
                </button>
              </div>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <div class="section-seventh-card-wrapper">
            <div class="section-seventh-card-rightcontainer">
              <div class="section-seventh-card-rightcontent">
                <h1>
                  GIVE $15,<br />
                  GET $15
                </h1>
                <p style="line-height: 1.5rem; font-size: 1rem">
                  Refer a friend now.
                </p>
                <button nz-button nzType="primary" nzSize="large">
                  Shop Now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nz-content>
  <nz-footer class="footer">
    <div class="signup-footer">
      <div nz-row>
        <div nz-col nzSpan="24">
          <div class="section-signup-card-wrapper">
            <div class="section-signup-card-container">
              <div class="section-signup-card-content">
                <div nz-row>
                  <div nz-col nzSpan="12">
                    <div class="footer-subscriber-leftcontent">
                      <h1 style="color: white">SIGN UP & SAVE</h1>
                      <p style="
                          line-height: 1.5rem;
                          font-weight: 200;
                          font-size: 1rem;
                        ">
                        Sign up and stay up to date on all the latest news from
                        Sana Designs and best of all, you'll get 15% off!
                      </p>
                    </div>
                  </div>
                  <div nz-col nzSpan="12">
                    <div class="footer-subscriber-rightcontent">
                      <input nz-input placeholder="Your Email" nzSize="large" />
                      <input style="margin-top: 15px" nz-input placeholder="Your Phone" nzSize="large" />
                      <button style="
                          width: 100%;
                          background-color: black;
                          color: white;
                          border: none;
                          margin-top: 15px;
                        " nz-button nzSize="large">
                        Sign Up
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navigation-footer">
      <div class="navigation-footer-container">
        <div nz-row>
          <div nz-col nzSpan="6">
            <h3 style="color: white;">Shop</h3>
            <ul>
              <li>New</li>
              <li>Packs & Bags</li>
              <li>Men's Apparel</li>
              <li>Women's Apparal</li>
              <li>Accessories</li>
              <li>Gift Cards</li>
              <li>After Pay</li>
            </ul>
          </div>
          <div nz-col nzSpan="6">
            <h3 style="color: white;">About</h3>
            <ul>
              <li>About The New Outdoor <sup>TM</sup> </li>
              <li>Our Roots</li>
              <li>In The Wild Blog</li>
              <li>Special Releases</li>
              <li>Sustainability</li>
              <li>M.A.P. Pact</li>
              <li>Warranty & Repairs</li>
              <li>Rewards</li>
            </ul>
          </div>
          <div nz-col nzSpan="6">
            <h3 style="color: white;">Company</h3>
            <ul>
              <li>Our Stories</li>
              <li>Careers</li>
              <li>Inclusion & Diversity</li>
              <li>Covid-19</li>
              <li>Corporate Sales</li>
              <li>Affiliates</li>
              <li>Students</li>
              <li>Military & First Responders</li>
            </ul>
          </div>
          <div nz-col nzSpan="6">
            <h3 style="color: white;">Help</h3>
            <ul>
              <li>Return & Shipping</li>
              <li>FAQ</li>
              <li>Refer a Friend</li>
              <li>Find a Retailer</li>
              <li>Privary Policy</li>
              <li>Accessibility</li>
              <li>Contact Us</li>
            </ul>
          </div>
        </div>

      </div>
      <hr style="border-color: rgba(0,0,0,0.4);">
    </div>
  </nz-footer>
</nz-layout>